---
import Layout from "@layouts/Layout.astro";
import employees from "@data/employees.json";
import { Image } from "astro:assets";
import DynamicIcon from "@components/helpers/DynamicIcon.astro";

export async function getStaticPaths() {
  return employees.map((employee) => ({
    params: { slug: employee.slug },
    props: { employee },
  }));
}

const { employee } = Astro.props;
---

<Layout>
  <section>
    <div class="employee-info-div">
      <div class="img-and-socials">
        <Image
          src={employee.img}
          alt={employee.name}
          width={300}
          height={300}
          class="image-portrait"
        />
        <div class="socials">
          {
            employee.social_links.map((link) => (
              <a href={link.url}>
                <DynamicIcon
                  class="icons"
                  width={20}
                  height={20}
                  name={link.icon}
                />
              </a>
            ))
          }
        </div>
      </div>
      <div class="presentation-text">
        <h2>{employee.name}</h2>
        <h3>{employee.title}</h3>
        <p>{employee.description_long}</p>
        <h2>Past experience</h2>
        <p>{employee.past_experience}</p>
      </div>
    </div>
  </section>
</Layout>

<style>
  @layer components {
    .employee-info-div {
      display: grid;
      grid-template-columns: repeat(
        auto-fit,
        minmax(0, calc(var(--content-width) / 2))
      );
    }
    .socials {
      .icons {
        color: black;

        &:hover {
          color: var(--color-action);
        }
      }
    }
  }
</style>
