---
import Layout from "@layouts/Layout.astro";
import employees from "@data/employees.json";
import { Image } from "astro:assets";
import DynamicIcon from "@components/helpers/DynamicIcon.astro";

import Buttons from "@components/Buttons.astro";

export async function getStaticPaths() {
  return employees.map((employee) => ({
    params: { slug: employee.slug },
    props: { employee },
  }));
}

const { employee } = Astro.props;
---

<Layout>
  <section>
    <div class="button">
      <Buttons href="/team" class="team-button" theme="yellow">Back</Buttons>
    </div>
    <div class="employee-info-div">
      <div class="img-and-socials">
        <div class="employee-img">
          <Image
            src={employee.img}
            alt={employee.name}
            width={400}
            height={500}
            class="image-portrait"
          />
        </div>
        <div class="socials">
          {
            employee.social_links.map((link) => (
              <a href={link.url}>
                <DynamicIcon
                  class="icons"
                  width={20}
                  height={20}
                  name={link.icon}
                />
              </a>
            ))
          }
        </div>
      </div>
      <div class="presentation-text">
        <h2>{employee.name}</h2>
        <h3>{employee.title}</h3>
        <p>{employee.description_long}</p>
        <h2>Past experience</h2>
        <p>{employee.past_experience}</p>
      </div>
    </div>
  </section>
</Layout>

<style>
  @layer components {
    :root {
      --image-width: 100%;
    }

    section {
      margin-block: var(--space-3xl);
    }

    h3 {
      color: var(--color-text-muted);
      font-size: var(--p-size);
      margin-bottom: var(--space-xs-s);
    }

    h2:has(+ p) {
      margin-top: var(--space-s-m);
      margin-bottom: var(--space-s-m);
    }
    p {
      font-size: var(--p-font);
    }

    p:has(+ h2) {
      border-bottom: 1px solid #c1c1c1;
      padding-bottom: var(--space-m-l);
    }

    .employee-info-div {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 1rem;
      padding: var(--section-padding-l);
    }

    .img-and-socials {
      justify-self: center;

      .employee-img {
        position: relative;
        isolation: isolate;
      }

      .employee-img::before {
        content: "";
        position: absolute;
        top: -2rem;
        left: -2rem;
        background: var(--color-ui-secondary);
        width: calc(var(--image-width) / 2);
        height: 140px;
        border-radius: 20px;
        z-index: -1;
      }

      img {
        border-radius: var(--border-image);
        margin-bottom: var(--space-xs);
      }
    }
    .socials {
      display: flex;
      gap: 1.5rem;
      justify-content: center;
      padding-inline: var(--space-xl);
      .icons {
        color: black;

        &:hover {
          color: var(--color-action);
        }
      }
    }
  }
</style>
