---
import employees from "@data/employees.json";
import DynamicImage from "@components/helpers/DynamicImage.astro";
import Buttons from "./Buttons.astro";

const firstTwoEmployees = employees.slice(0, 2); // only first two
---

<section>
  <div class="container">
    <div class="text">
      <p>Our team</p>
      <h2>We champion the bold</h2>
      <p>
        Our success stems from the synergy between dedicated teams and our
        valued clients. We prioritize a company culture that fosters exceptional
        productivity, ensures customer satisfaction.
      </p>

      <Buttons class="team-button" theme="black">Meet the Team</Buttons>
    </div>
    <div class="employee-cards">
      {
        firstTwoEmployees.map((employee) => (
          <div class="employee-card">
            <DynamicImage
              imagePath={employee.img}
              altText={employee.name}
              class="image-card"
            />

            <div>
              <p>{employee.title}</p>

              <h2 class="name">{employee.name}</h2>

              <p class="description">{employee.description}</p>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>

<style>
  @layer components {
    .container {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-auto-rows: auto;
      gap: var(--element-spacing);
      margin: 0;
      justify-content: center;
      margin-bottom: var(--space-xl);
      margin-top: var(--space-xl);
    }

    .employee-cards {
      display: flex;
      flex-direction: column;
      gap: 2rem; /* Juster afstand mellem de to ansatte */
    }

    .employee-card {
      display: grid;
      grid-template-columns: 180px 1fr; /* Fast bredde til billede, resten til tekst */
      gap: var(--space-md);
      align-items: start;
      img {
        border-radius: var(--border-image);
      }
    }

    /* img {
      width: 100%; 
      aspect-ratio: 1 / 1;
      object-fit: cover;
      border-radius: var(--border-image);
    } */

    p:has(+ h2) {
      color: var(--color-text);
      line-height: var(--space-xl);
      margin-block-start: calc(0.5cap - 0.2lh);
    }
    h2 {
      font-size: var(--space-l);
    }

    /* Styling af tekst-indhold */
    div {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      margin-left: var(--space-m);
    }

    .name {
      order: -1; /* Flytter navnet øverst */
      margin: 0;
      font-size: 1.5rem;
    }

    .description {
      font-size: 0.9rem;
      line-height: 1.5;
      margin-right: var(--space-3xl);
    }
    .team-button {
      margin-top: var(--space-m);
    }

    @media (width < 800px) {
      .container {
        grid-template-columns: 1fr;
      }
    }
  }
</style>
<!-- <style>
  .container {
    display: grid;
    grid-template-columns: minmax(300px, 1fr) 1fr;
    grid-auto-rows: auto;
    gap: var(--element-spacing);
    margin: 0;
    justify-content: center;
  }
  .employee-card {
    display: grid;
    grid-template-columns: [text-start] 1fr [text-end];
    grid-template-rows: 4fr [text-start] 1fr [text-end];

    img {
      width: 50%;
      border-radius: var(--border-image);
    }

    p {
      grid-area: text;

      margin-block: trim;
      padding-inline: var(--space-xs);
      padding-top: var(--space-2xs);
    }
    h3 a {
      &::after {
        content: "";
        position: absolute;

        inset: 0;
      }
    }
  }
</style> -->
