---
import employees from "@data/employees.json";
import DynamicImage from "@components/helpers/DynamicImage.astro";
import Buttons from "./Buttons.astro";

const firstTwoEmployees = employees.slice(0, 2);
---

<section class="team-section">
  <div class="container">
    <div class="text">
      <p>Our team</p>
      <h2>We champion the bold</h2>
      <p>
        Our success stems from the synergy between dedicated teams and our
        valued clients. We prioritize a company culture that fosters exceptional
        productivity, ensures customer satisfaction.
      </p>
      <Buttons href="/team" class="team-button" theme="black"
        >Meet the Team</Buttons
      >
    </div>

    <div class="employee-cards">
      {
        firstTwoEmployees.map((employee) => (
          <div class="employee-card">
            <div class="employee-image">
              <DynamicImage imagePath={employee.img} altText={employee.name} />
            </div>
            <div class="employee-text">
              <h3 class="name">{employee.name}</h3>
              <p class="title">{employee.title}</p>
              <p class="description">{employee.description}</p>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>

<style>
  @layer components {
    .team-section {
      padding: var(--space-xl) 0;
    }

    .container {
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: var(--space-xl);
      align-items: start;
    }

    .text {
      display: flex;
      flex-direction: column;

      p,
      h2 {
        margin-block-end: var(--space-s);
      }
    }

    .employee-cards {
      display: flex;
      flex-direction: column;
      gap: var(--space-l);

      .employee-card {
        display: grid;
        grid-template-columns: 180px 1fr;
        gap: var(--space-m);
        align-items: start;

        .employee-image img {
          width: 100%;
          aspect-ratio: 1/1;
          object-fit: cover;
          border-radius: var(--border-image);
        }
      }
      .employee-text {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
      }

      .employee-text .name {
        margin: 0;
        font-size: 1.5rem;
      }

      .employee-text .title {
        font-weight: 500;
        color: var(--color-text);
      }

      .employee-text .description {
        font-size: 0.9rem;
        line-height: 1.5;
      }

      .team-button {
        margin-top: var(--space-m);
      }
    }
    /* Responsive */
    @media (max-width: 750px) {
      .container {
        grid-template-columns: 1fr;
        margin-inline: auto;
      }
      .employee-image {
        /* grid-column: 1 / -1; */
      }
    }

    @media (max-width: 450px) {
      .employee-text {
        text-align: center;
      }
      .employee-cards {
        .employee-card {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
</style>
