---
// src/components/CoreValues.astro
import coreValues from "@data/coreValues.json";
import DynamicIcon from "@helpers/DynamicIcon.astro";
import ArrowRight from "@icons/arrow--right.svg";
import Button from "@components/Buttons.astro";
const { theme = "default" } = Astro.props;
---

<section class="value-container" data-surface={theme}>
  <!-- Indre container, der ikke fylder hele viewporten -->
  <div class="inner-container">
    <div class="value-info">
      <h3>{coreValues.eyebrow}</h3>
      <h2>{coreValues.title}</h2>
      <p>{coreValues.subtitle}</p>
      <div class="button">
        <div class="valuebutton1">
          <Button theme="white">
            {coreValues.button.text}
          </Button>
        </div>
        <div class="valuebutton2">
          <Button theme="black">{coreValues.button.text}</Button>
        </div>
      </div>
    </div>
    <div class="value-cards">
      {
        coreValues.values.map((value) => (
          <div class="value-card">
            <div class="value-icon">
              <DynamicIcon width={22} height={22} name={value.icon} />
            </div>
            <h3>{value.title}</h3>
            <p>{value.description}</p>
            <div class="arrow-link">
              <a href={value.link.url}>{value.link.text} </a>
              <ArrowRight width={15} height={15} class="arrowright-icon" />
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>

<style>
  @layer components {
    .value-container[data-surface="dark"] {
      background-color: var(--color-ui-primary);
      color: var(--color-on-ui-primary);
      display: grid;
      grid-template-columns: subgrid;
      grid-column: full / -1;
      text-wrap: pretty;
      padding: var(--section-spacing-l);

      .inner-container {
        container-type: inline-size;
        container-name: cards;
        grid-column: content;
        margin: var(--space-s) 0;
      }

      .value-info {
        display: grid;
        grid-template-columns: 3fr 1fr;
        padding: var(--space-s) 0;

        h3,
        h2,
        p {
          color: var(--color-on-ui-primary);
        }

        h3 {
          font-family: var(--lato-regular);
          letter-spacing: 1.5px;
          text-transform: uppercase;
          grid-column: 1;
        }

        h2 {
          font-size: var(--step-3);
          grid-column: 1;
        }

        p {
          font-size: var(--step-0);
          grid-column: 1;
          hyphens: auto;
        }

        .button {
          grid-column: 4;
        }

        .valuebutton1 {
          display: contents;
        }

        .valuebutton2 {
          display: none !important;
        }
      }

      .value-cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: var(--space-s);

        .arrow-link {
          display: flex;
          gap: 10px;

          a {
            text-decoration: none;
            color: var(--color-text);
            font-weight: 500;
          }
        }
      }

      .value-card {
        display: grid;
        align-content: first baseline;
        gap: 10px;
        background-color: var(--color-surface-secondary);
        border-radius: var(--border-card);
        padding: 2rem;

        h3,
        p,
        .arrowright-icon {
          color: var(--color-text);
        }

        .value-icon {
          color: #f5f5f5;
          background-color: var(--color-ui-primary);
          padding: 10px;
          border-radius: var(--border-icon);
          width: fit-content;

          svg {
            width: 22px;
            height: 22px;
          }

          .arrow-link {
            display: grid;
          }
        }
      }
    }

    .value-container[data-surface="light"] {
      background-color: var(--color-on-ui-primary);
      color: var(--color-text);
      display: grid;
      grid-template-columns: subgrid;
      grid-column: full / -1;
      text-wrap: pretty;
    }

    .inner-container {
      container-type: inline-size;
      container-name: cards;
      grid-column: content;
      margin: var(--space-s) 0;
    }

    .value-info {
      display: grid;
      grid-template-columns: 3fr 1fr;
      padding: var(--space-s) 0;

      h3,
      h2,
      p {
        color: var(--color-text);
      }

      h3 {
        font-size: var(--step--0);
        text-transform: uppercase;
        grid-column: 1;
      }

      h2 {
        font-size: var(--step-3);
        grid-column: 1;
      }

      p {
        font-size: var(--step-0);
        grid-column: 1;
        margin: auto 0;
        max-width: 600px;
        hyphens: auto;
      }

      .button {
        grid-column: 4;
      }

      .valuebutton1 {
        display: none;
      }
    }

    .value-cards {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: var(--space-s);

      .arrow-link {
        display: flex;
        gap: 10px;

        a {
          text-decoration: none;
          color: var(--color-text);
          font-weight: 500;
        }
      }
    }

    .value-card {
      display: grid;
      align-content: first baseline;
      gap: 10px;
      background-color: white;
      border-radius: var(--border-card);
      padding: 2rem;

      h3,
      p,
      .arrowright-icon {
        color: var(--color-text);
      }

      .value-icon {
        color: #f5f5f5;
        background-color: var(--color-ui-primary);
        padding: 10px;
        border-radius: var(--border-icon);
        width: fit-content;

        svg {
          width: 22px;
          height: 22px;
        }

        .arrow-link {
          display: grid;
        }
      }
    }
  }

  /* Container querien Reagerer på .inner-container's størrelse */
  @container cards (width < 900px) {
    .value-cards {
      grid-template-columns: 1fr 1fr;
    }

    p {
      font-size: var(--step--1);
    }
  }

  @container cards (width < 450px) {
    .value-cards {
      grid-template-columns: 1fr;
    }

    .value-info {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
    }
  }
</style>
