---
// src/components/CoreValues.astro
import coreValues from "@data/coreValues.json";
import DynamicIcon from "@helpers/DynamicIcon.astro";
import ArrowRight from "@icons/arrow--right.svg";
---

<section class="value-container">
  <div class="container-inline">
    <div class="value-info">
      <h3>{coreValues.eyebrow}</h3>
      <h2>{coreValues.title}</h2>
      <p>{coreValues.subtitle}</p>
      <a href={coreValues.button.link} class="button"
        >{coreValues.button.text}</a
      >
    </div>

    <div class="value-cards">
      {
        coreValues.values.map((value) => (
          <div class="value-card">
            <DynamicIcon name={value.icon} class="value-icon" />
            <h3>{value.title}</h3>
            <p>{value.description}</p>
            <a href={value.link.url}>{value.link.text}</a>
            <ArrowRight width={22} height={22} class="arrowright-icon" />
          </div>
        ))
      }
    </div>
  </div>
</section>

<style>
  @layer components {
    section {
      /* container: griddy, inline-size;
      container-type: inline-size; */
      background-color: var(--color-ui-primary);
      color: var(--color-on-ui-primary);
      display: grid;
      grid-template-columns: subgrid;
      grid-column: full-start / -1;

      > * {
        grid-column: content;
      }

      .value-info {
        display: grid;
        grid-auto-columns: minmax(0, 1fr);
        grid-column: content;
      }
    }
  }

  .value-cards {
    display: grid;
    /* grid-auto-flow: column; */
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-column: content;

    > * {
      background-color: var(--color-surface-secondary);
      color: var(--color-text);
    }

    .value-icon {
      color: #f5f5f5;
      background-color: var(--color-ui-primary);
      padding: 10px;
      border-radius: 99px;
      box-sizing: content-box;
    }

    @container (width < 600px) {
      grid-template-columns: 1fr 1fr;
    }
  }
</style>
